@font-face {
    font-family: 'MyriadPro bold';
    src: url("~assets/fonts/MyriadPro-Bold.ttf");
}

@font-face {
    font-family: 'MyriadPro regular';
    src: url("~assets/fonts/MyriadPro-Regular.ttf");
}
