<div *ngIf="!isForm" >
  <div *ngIf="userPosts" id="main-content">
    <blog-main-post-component *ngIf="mainPost"
                              [mainPost]="mainPost"
                              [isCreator]="isCreator"
                              (messageToUpdate)="getPosts()">
    </blog-main-post-component>
  </div>

  <div class="row mt-1">
    <button *ngIf="isCreator" class="col-auto btn btn-dark ml-3" (click)="isForm=true">Add post</button>

    <div class="col-auto ml-auto">
      <span>Change view: </span>
      <button class="btn btn-dark rounded-0" (click)="isViewRow=true">
        <svg xmlns="http://www.w3.org/2000/svg" width="17.94" height="17.969" viewBox="0 0 17.94 17.969">
          <path [attr.fill]="isViewRow ? 'darkorange' : 'white'"
                class="cls-1" d="M1035.38,535.982v-1.09h10.56v1.09h-10.56Zm0-4.262h10.56v1.09h-10.56v-1.09Zm0-3.173h10.56v1.091h-10.56v-1.091Zm0-3.172h10.56v1.091h-10.56v-1.091Zm0-3.172h10.56v1.09h-10.56V522.2Zm0-3.172h10.56v1.09h-10.56v-1.09Zm-6.33,12.689h4.22v4.295h-4.22V531.72Zm0-6.345h4.22v4.3h-4.22v-4.3Zm0-6.344h4.22v4.3h-4.22v-4.3Z" transform="translate(-1029.06 -519.031)"/>
        </svg>
      </button>

      <button class="btn btn-dark rounded-0" (click)="isViewRow=false">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.56" height="19.687" viewBox="0 0 19.56 19.687">
          <path [attr.fill]="isViewRow ? 'white' : 'darkorange'"
                class="cls-1" d="M1068.45,518.323h7.69v7.689h-7.69v-7.689Zm9.89,0h7.7v7.689h-7.7v-7.689Zm-9.89,10.006h7.69v7.689h-7.69v-7.689Zm9.89,0h7.7v7.689h-7.7v-7.689Z" transform="translate(-1068.44 -518.313)"/>
        </svg>
      </button>

    </div>
  </div>

  <div *ngIf="userPosts" class="row">
      <div class="offset-1" [ngClass]="isViewRow ? 'col-10' : 'col-4'"
           *ngFor="let post of userPosts.posts">

        <blog-post-card-component
          [postViewData]="post"
          [isCreator]="isCreator"
          (messageToUpdate)="getPosts()">
        </blog-post-card-component>

      </div>
  </div>

  <div *ngIf="userPosts" class="row mt-5">
    <div *ngIf="userPosts.pagingInfo.totalPages > 2" class="col-12">
      <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-center">

          <li><button class="btn rounded-0"
                      [ngClass]="isCurrentPage(userPosts.pagingInfo.currentPage, 1) ? 'btn-outline-dark' : 'btn-dark btn-outline-light'"
                      [disabled]="isCurrentPage(userPosts.pagingInfo.currentPage, 1)"
                      (click)="getPosts(this.userPosts.pagingInfo.currentPage - 1)">
            &#8249; Previous
          </button></li>

          <li><button *ngIf="!isCurrentPage(1, pages[0])"
                      class="btn btn-dark btn-outline-light rounded-0"
                      (click)="getPosts(1)"> 1 </button></li>

          <li>{{dotsPageLeft(1, pages[0])}}</li>

          <li><button *ngFor="let page of pages"
                      class="btn rounded-0"
                      [ngClass]="isCurrentPage(page, userPosts.pagingInfo.currentPage) ? 'btn-orange' : 'btn-dark btn-outline-light'"
                      (click)="getPosts(page)" [disabled]="isCurrentPage(page, userPosts.pagingInfo.currentPage)">
            {{page}}
          </button></li>

          <li>{{dotsPageLeft(userPosts.pagingInfo.totalPages, pages[pages.length-1])}}</li>

          <li><button *ngIf="!isCurrentPage(pages[pages.length-1], userPosts.pagingInfo.totalPages)"
                      class="btn btn-dark btn-outline-light rounded-0"
                      (click)="getPosts(userPosts.pagingInfo.totalPages)">{{userPosts.pagingInfo.totalPages}}</button></li>

          <li><button class="btn rounded-0"
                      [ngClass]="isCurrentPage(userPosts.pagingInfo.currentPage, userPosts.pagingInfo.totalPages) ? 'btn-outline-dark' : 'btn-dark btn-outline-light'"
                      [disabled]="isCurrentPage(userPosts.pagingInfo.currentPage, userPosts.pagingInfo.totalPages)"
                      (click)="getPosts(this.userPosts.pagingInfo.currentPage + 1)">
            Next &#8250;
          </button></li>
        </ul>
      </nav>
    </div>
  </div>

</div>

<blog-post-form-component *ngIf="isForm" [type]="type"
                          (messageToUpdate)="getPosts()"
                          (messageToClose)="this.isForm = false">
</blog-post-form-component>
