@import url('../../assets/css/fonts.css');
@import url('../../assets/css/buttons.css');

*{
  font-family: 'MyriadPro bold', sans-serif;
}

.about p{
  font-size: 16pt;
}

.about p, .about h1{
  font-family: 'MyriadPro regular', sans-serif;
}

.about h1{
  font-size: 26pt;
}

#content{
  border-top: 4px solid darkorange;
}

.feedback a{
  background-color: white;
}

nav, .icon-text{
  font-size: 20pt;
}

.card .card-header{
  cursor: pointer;
}
