<div class="row col-auto m-0 p-0 mt-2">
  <figure class="col-1 m-0 p-0 text-center">
    <img alt="user image" class="col-6 m-0 p-0 rounded-circle" [src]="getFullSrc(comment.item.user.imageUrl)">
    <figcaption class="m-0 p-0"><span>{{comment.item.user.userName}}</span></figcaption>
  </figure>
  <div class="col-11">
    <span *ngIf="comment.item.content; else deleted">{{comment.item.content}}</span>
    <ng-template #deleted><span>[Comment is deleted]</span></ng-template>
  </div>
  <blog-item-info-component
    [isAvailable]="token.Username == comment.item.user.userName"
    [isDeleted]="comment.item.content == null"
    [ItemInfo]="comment"
    [(isOpenComments)]="IsCommentOpen"
    [isComment]="true"
    (messageToUpdate)="messageToUpdate.emit($event)">
  </blog-item-info-component>

  <button class="col-12 btn btn-outline-light rounded-0" (click)="answerComment(comment.item)">Comment It</button>

  <div *ngIf="comment.item.subComments" class="row col-11 ml-auto m-0 p-0 pt-2" style="border-left: 2px solid white">
    <div *ngFor="let subComment of comment.item.subComments" class="col-12 m-0 p-0">
      <blog-comment-component
        [comment]="subComment"
        [postId]="postId"
        (messageToUpdate)="getComments()"
        (messageToAnswer)="answerComment($event)">
      </blog-comment-component>
    </div>
  </div>
</div>
